<ion-content>

  <div style="padding: 10px;"></div>

  <div class="ion-padding"></div>

    <ion-list padding style="padding: 20px;">
      <ion-button color="dark"
                  (click)="startScanning()">scan</ion-button>
      <ion-list-header>
          Paired Devices
      </ion-list-header>
      <ion-item *ngFor="let device of pairedDevices">
          {{device.name}}
      </ion-item>
      <ion-button color="dark"
                  (click)="disconnect()">Disconnect</ion-button>
      <ion-list-header>
          availlable Devices
      </ion-list-header>
      <ion-item *ngFor='let device of unpairedDevices'>
          <span (click)="connectDevice(device.address)">
              {{device.name || device.address}}
          </span>
      </ion-item>
      <ion-spinner name="bubbles"
                   *ngIf="gettingDevices"></ion-spinner>
  </ion-list>
</ion-content>